In [1]:
import pandas as pd
import numpy as np

In [2]:

df=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.shape

(13320, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
for column in df.columns:  
    print(df[column].value_counts())
    print("*" * 20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [7]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
df.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

In [9]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [12]:
df['location']=df['location'].fillna('Sarjapur Road')

In [13]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [14]:
df['size']=df['size'].fillna('2 BHK')

In [15]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
df['bhk']=df['size'].str.split().str.get(0).astype(int)

In [18]:
df[df.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [19]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [20]:
def convertRange(x):
    temp=x.split('_')
    if len(temp)==2:
        return(float(temp[0])+float(temp[1]))
    try:
        return float(x)
    except:
        return None

In [21]:
df['total_sqft']=df['total_sqft'].apply(convertRange)

In [22]:
df.head(5)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

## Price per squre feet

In [23]:
df['price_per_sqft']=df['price']*10000/df['total_sqft']

In [24]:
df['price_per_sqft']

0         369.981061
1         461.538462
2         430.555556
3         624.589086
4         425.000000
            ...
13315     668.983493
13316    1111.111111
13317     525.854514
13318    1040.733632
13319     309.090909
Name: price_per_sqft, Length: 13320, dtype: float64

In [25]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+02
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+04
min        1.000000      1.000000      8.000000      1.000000    2.678298e+01
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+02
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+02
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+02
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+06

In [26]:
df['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [27]:
df['location']=df['location'].apply(lambda x:x.strip())
location_counts=df['location'].value_counts()

In [28]:
location_counts

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1295, dtype: int64

In [29]:
location_counts_less_10=location_counts[location_counts<=10]

In [30]:
location_counts_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [31]:
df['location']=df['location'].apply(lambda x: 'other' if x in  location_counts_less_10 else x)

In [32]:
df['location'].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

## outliers detection and elemination

In [33]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13073.000000  13320.000000  13320.000000  13320.000000    1.307300e+04
mean    1554.942029      2.688814    112.565627      2.802778    7.949600e+02
std     1238.458773      1.338754    148.971674      1.294496    1.072440e+04
min        1.000000      1.000000      8.000000      1.000000    2.678298e+01
25%     1100.000000      2.000000     50.000000      2.000000    4.265734e+02
50%     1275.000000      2.000000     72.000000      3.000000    5.454545e+02
75%     1670.000000      3.000000    120.000000      3.000000    7.338057e+02
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+06

In [34]:
(df['total_sqft']/df['bhk']).describe()

count    13073.000000
mean       573.254923
std        389.887823
min          0.250000
25%        472.000000
50%        551.000000
75%        625.000000
max      26136.000000
dtype: float64

In [35]:
df=df[((df['total_sqft']/df['bhk'])>300)]

In [36]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12147.000000  12147.000000  12147.000000  12147.000000    12147.000000
mean    1596.728917      2.543920    110.876677      2.633654      622.505332
std     1269.496189      1.059459    153.495355      0.961200      407.252486
min      340.000000      1.000000      8.440000      1.000000       26.782981
25%     1116.000000      2.000000     49.000000      2.000000      420.000000
50%     1305.000000      2.000000     69.500000      3.000000      527.472527
75%     1702.000000      3.000000    115.000000      3.000000      684.592691
max    52272.000000     16.000000   3600.000000     16.000000    17647.058824

In [37]:
df.shape

(12147, 7)

In [38]:
df.price_per_sqft.describe()

count    12147.000000
mean       622.505332
std        407.252486
min         26.782981
25%        420.000000
50%        527.472527
75%        684.592691
max      17647.058824
Name: price_per_sqft, dtype: float64

In [39]:
def remove_outlier_sqrt(df):
    df_output = pd.DataFrame()  # Fix the typo here
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)  # Fix the attribute name here
        gen_def = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_output = pd.concat([df_output, gen_def], ignore_index=True)
    return df_output

df = remove_outlier_sqrt(df)
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   9924.000000  9924.000000  9924.000000  9924.000000     9924.000000
mean    1503.164751     2.461507    90.790999     2.560258      563.743806
std      874.950349     0.957228    86.366951     0.874635      222.101411
min      350.000000     1.000000    10.000000     1.000000      125.000000
25%     1110.000000     2.000000    49.000000     2.000000      424.242424
50%     1290.000000     2.000000    67.000000     2.000000      517.532038
75%     1650.000000     3.000000   100.000000     3.000000      640.919394
max    30400.000000    16.000000  2200.000000    16.000000     2450.980392

In [40]:
def bhk_outlier_remove(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),  # Fix the column name here
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values)
    return df.drop(exclude_indices, axis='index')

In [41]:
df=bhk_outlier_remove(df)

In [42]:
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7061.000000  7061.000000  7061.000000  7061.000000     7061.000000
mean    1498.235236     2.444413    99.105292     2.492848      611.187345
std      858.485708     0.991139    93.498159     0.902223      236.236123
min      350.000000     1.000000    10.000000     1.000000      130.000000
25%     1100.000000     2.000000    50.000000     2.000000      460.317460
50%     1266.000000     2.000000    74.000000     2.000000      568.181818
75%     1681.000000     3.000000   112.000000     3.000000      687.536571
max    30000.000000    16.000000  2200.000000    16.000000     2450.980392

In [43]:
df.shape

(7061, 7)

In [44]:
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4,1501.754386
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3,1190.184049
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3,1253.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3,1083.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2,1198.380567
...,...,...,...,...,...,...,...
9915,other,2 BHK,1200.0,2.0,70.0,2,583.333333
9916,other,1 BHK,1800.0,1.0,200.0,1,1111.111111
9919,other,2 BHK,1353.0,2.0,110.0,2,813.008130
9920,other,1 Bedroom,812.0,1.0,26.0,1,320.197044
9923,other,4 BHK,3600.0,5.0,400.0,4,1111.111111

In [45]:
df.drop(columns=['size','price_per_sqft'],inplace=True)

## Cleaned Data

In [46]:
df.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [47]:
df.to_csv('Cleaned_data.csv')

In [48]:
x=df.drop(columns=['price'])
y=df['price']

In [50]:
!pip install --upgrade scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [52]:
print(x_train.shape)
print(x_test.shape)

(5648, 4)
(1413, 4)

## Applying Linear Regression

In [53]:
from sklearn.compose import make_column_transformer  # Import the missing module

column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']),
                                       remainder='passthrough')

In [54]:
scaler=StandardScaler()

In [55]:
lr = LinearRegression()

In [56]:
from sklearn.pipeline import make_pipeline
pipe = make_pipeline(column_trans,scaler,lr)

In [57]:
pipe.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [59]:
y_pred_lesso=pipe.predict(x_test)
r2_score(y_test,y_pred_lesso)

0.8659246370195014

## Applying Ridge Regression

In [60]:
pipe=Ridge()

In [62]:
pipe = make_pipeline(column_trans, scaler, Ridge())

In [64]:
pipe.fit(x_train,y_train)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [66]:
y_pred_ridge=pipe.predict(x_test)
r2_score(y_test,y_pred_ridge)

0.865592842757106

In [68]:
y_pred = pipe.predict(x_test)
print('NO regularization',r2_score(y_test,y_pred))
print("Lasso regression",r2_score(y_test,y_pred_lesso))
print('Ridge regression',r2_score(y_test,y_pred_ridge))

NO regularization 0.865592842757106
Lasso regression 0.8659246370195014
Ridge regression 0.865592842757106

In [69]:
import pickle

In [70]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))